<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
<div class="container">

    {% include "menu_bar.html" %}

    <div class="container">
        <form {% if plant %} action="/update-plant/{{ plant.id }}" {% else %} action="/save-plant" {% endif %}
                             method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" {% if plant %} value='{{ plant.title }}' {% endif %} id="name"
                       name="name" placeholder="Azovstal">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" {% if plant %} value='{{ plant.location }}' {% endif %}
                       id="location" name="location" placeholder="st.Banderu.51">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


</body>
</html>